// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// SEARCH
.search {
  align-items: center;
  display: flex; // flexitems can also be flexboxes.
  flex: 0 0 40%;
  justify-content: center;

  &__input {
    background-color: var(--color-grey-light-2);
    border: 0;
    border-radius: 100px; // high numer for rounded edges.
    color: inherit;
    font-family: inherit;
    font-size: inherit; // no inherited on input as default.
    margin-right: -3.25rem; // space for the icon inside the input.
    padding: .7rem 2rem;
    transition: all .2s;
    width: 90%;

    &:focus {
      background-color: var(--color-grey-light-3);
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      // input text
      color: var(--color-grey-light-4);
      font-weight: 100;
    }
  }

  &__input:focus+&__button {
    // sibling selector
    background-color: var(--color-grey-light-3);
  }

  &__button {
    background-color: var(--color-grey-light-2);
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px); // click down button effect.
    }
  }

  &__icon {
    fill: var(--color-grey-dark-3); // fill instead of color for SVGs.
    height: 2rem; // SVG icons can be easily resized with height and width.
    width: 2rem;
  }
}

// USER NAVIGATION
.user-nav {
  align-items: center;
  align-self: stretch; // fills the entire height.
  display: flex;

  &>* {
    // all direct children.
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 2rem;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    fill: var(--color-grey-dark-2);
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: .8rem;
    height: 1.75rem;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 1.75rem;
  }

  &__user-photo {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem;
  }
}

// SIDEBAR NAVIGATION
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &__item::before {
    background-color: var(--color-primary);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: transform .2s,
      width .4s cubic-bezier(1, 0, 0, 1) .2s,
      background-color .1s; // second value is delay.
    width: 3px;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%; // works even though both px and % are used.
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    align-items: stretch;
    color: var(--color-grey-light-1);
    display: flex; // really is flex AND block.
    padding: 1.5rem 3rem;
    position: relative; // z-index needs specified position!
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
  }

  &__icon {
    fill: currentColor; // uses the color of the element, or parent element if no color is defined for the element, side-nav__link in this case. Works with pseudoelements and the like.
    height: 1.75rem;
    margin-right: 2rem;
    width: 1.75rem;
  }
}

// LEGAL TEXT
.legal {
  color: var(--color-grey-light-4);
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
}

// GALLERY
.gallery {
  display: flex;

  &__photo {
    display: block;
    width: 100%; // 100% of availible flexbox item width.
  }
}

// BUTTON
.btn-inline {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid currentColor; // dynamic color change on :hover.
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  font-size: inherit; // allows dynamic resuable font size.
  padding-bottom: 2px;
  transition: all .2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    animation: pulsate 1s infinite;
    outline: none;
  }
}

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }

  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    transform: scale(1.05);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}

// GALLERY OVERVIEW
.overview {
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
  }

  &__stars {
    display: flex; // to center stars (they behave as inline by default).
    margin-right: auto; // in flex, automatically takes all avaible space as margin.
  }

  &__icon-star,
  &__icon-pin {
    fill: var(--color-primary);
    height: 1.75rem;
    width: 1.75rem;
  }

  &__location {
    display: flex;
    font-size: 1.2rem;
    vertical-align: center;
  }

  &__icon-pin {
    margin-right: .5rem;
  }

  &__rating {
    align-items: center;
    align-self: stretch;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    padding: 0 2.25rem;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -.3rem; // simple way to move the flex item.
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
  }
}
